/* Background */
html, body
{
  background: #FAFAFA;
  margin: 0;
  padding: 0;
  height: 100%;
} 

.container
{
  padding: 0 60px 0 60px;
  min-height:100%;
}

/* Do not underline links */
a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
}

/* Remove dashed box from clickable objects in Firefox */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Thumbnail improvements */
.thumbnail
{
  background: white;
  padding: 10px;
}

.thumbnail h4, .thumbnail h5
{
  text-align: center;
}
