#picture
{
  padding: 30px 0 30px 0;
}

#name
{
  padding: 30px 0 30px 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 72px;
}

#introduction
{
  font-size: 130%;
  line-height: 125%;
}

#disclaimer
{
  font-size: 90%;
  color: #7A7A7A;
  padding: 15px 0 50px 0;  
}
