<!DOCTYPE html>
<html>

  <head>
    {% if page.title == "Home" %}
    <title>Parthiban Loganathan</title>
    {% else %}
    <title>Parthiban Loganathan | {{ page.title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    {% for file in page.css %}
    <link href="/css/{{ file }}" rel="stylesheet">
    {% endfor %}
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container">

      <!-- Navigation -->
      <div class="row">
        <div class="span12">
          <ul class="inline text-center">

            <li>
            <a href="/">
              <div class="nav_wrapper home">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-home icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">HOME</div>
              </div>
            </a>
            </li>

            <li>
            <a href="/resume">
              <div class="nav_wrapper resume">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-file icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">RESUME</div>
              </div>
            </a>
            </li>

            <li>
            <a href="/code">
              <div class="nav_wrapper code">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-code icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">CODE</div>
              </div>
            </a>
            </li>

            <li>
            <a href="/blog">
              <div class="nav_wrapper blog">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-quote-left icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">BLOG</div>
              </div>
            </a>
            </li>

            <li>
            <a href="https://github.com/parthibanloganathan">
              <div class="nav_wrapper github">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-github icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">GITHUB</div>
              </div>
            </a>
            </li>

            <li>
            <a href="https://www.linkedin.com/in/parthibanloganathan">
              <div class="nav_wrapper linkedin">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-linkedin icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">LINKEDIN</div>
              </div>
            </a>
            </li>

            <li>
            <a href="http://www.twitter.com/parthiban_logan">
              <div class="nav_wrapper twitter">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-twitter icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">TWITTER</div>
              </div>
            </a>
            </li>

            <li>
            <a href="http://www.google.com/recaptcha/mailhide/d?k=01FD1G3BwnvE2hsxDlmSRDlA==&amp;c=o5vvExCNwbrpc0fnDyhH5omF0D0m_9gnZQet1SuoEbU9ZMjDZ6oc618VEw2cesM5" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501FD1G3BwnvE2hsxDlmSRDlA\75\75\46c\75o5vvExCNwbrpc0fnDyhH5omF0D0m_9gnZQet1SuoEbU9ZMjDZ6oc618VEw2cesM5', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">
              <div class="nav_wrapper email">
                <div class="nav_bg">
                  <div class="nav_rotate_axis">
                    <div class="nav_icon">
                      <i class="icon-envelope icon-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="nav_text">EMAIL</div>
              </div>
            </a>
            </li>

          </ul>
        </div>
      </div>

      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>

